<?xml version="1.0"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>peter_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{0,128},{121,120}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
            <key>peter_2_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{3,24}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{121,128},{77,32}}</string>
                <key>textureRotated</key>
                <true />
            </dict>
            <key>peter_glow_001.png</key>
            <dict>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,128}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>textureRotated</key>
                <false />
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>icons/peter-uhd.plist</string>
            <key>size</key>
            <string>{153,248}</string>
            <key>textureFileName</key>
            <string>icons/peter-uhd.plist</string>
        </dict>
    </dict>
</plist>
